body {

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Arial, sans-serif;

    background:linear-gradient(135deg,#ffd6e7,#fff5f8);

}



.container {

    width:90%;

    max-width:450px;

    text-align:center;

}




#questionBox,
#quizBox,
#messageBox {

    background:white;

    padding:35px 25px;

    border-radius:30px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

    animation:cardShow 1s ease;

}




h1 {

    color:#e91e63;

    font-size:32px;

}



h2 {

    color:#c2185b;

}



p {

    color:#555;

    font-size:18px;

    line-height:1.6;

}




button {

    width:85%;

    padding:15px;

    margin:10px;

    border:none;

    border-radius:30px;

    background:#e91e63;

    color:white;

    font-size:18px;

    transition:0.3s;

}



button:hover {

    transform:scale(1.05);

}



button:disabled {

    opacity:0.6;

}




/* Question Smooth Effect */

#quizBox {

    transition:opacity 1.5s ease;

}




/* Photo Design */


.photo-container {

    background:white;

    padding:20px;

    border-radius:30px;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);

}




#photo {

    width:100%;

    height:430px;

    object-fit:contain;

    background:black;

    border-radius:25px;

    animation:fadePhoto 2s ease;

}




#caption {

    margin-top:20px;

    color:#e91e63;

    font-size:24px;

    animation:captionShow 1.5s ease;

}




@keyframes fadePhoto {

    from {

        opacity:0;

        transform:scale(1.03);

    }


    to {

        opacity:1;

        transform:scale(1);

    }

}




@keyframes cardShow {

    from {

        opacity:0;

        transform:scale(0.8);

    }


    to {

        opacity:1;

        transform:scale(1);

    }

}




@keyframes captionShow {

    from {

        opacity:0;

    }


    to {

        opacity:1;

    }

    }
